@import '../../../assets/vars';

.comment {
    text-align: left;
    padding: 1em 0;
    header {
        padding-bottom: 1em;
        button {
            border: none;
            background: none;
            color: $color-gray;
            font-weight: 900;
            margin-right: 1em;
            outline: none!important;
            &:hover {
                color: $color-orange;
            }
        }
        a {
            font-weight: 900;
            &:hover {
                color: $color-orange;
            }
        }
        p {
            display: inline-block;
            margin-left: 1em;
        }
    }
    main {
        border-bottom: 1px solid $color-orange;
        padding-bottom: 0.5em;
    }
    footer {
        padding-left: 2em;
    }
}

a {
    text-decoration: none;
    &:link {
        color: initial;
    }
    &:visited {
        color: initial;
    }
}

@media screen and (max-width: $screen-xs) {
    .comment {
        header {
            font-size: 0.5em;
            button {
                margin-right: 0em;
            }
            a {
                display: inline-block;
                width: 100%;
            }
            p {
                width: 100%;
                margin: 0;
            }
        }
        main {
            font-size: 0.5em;
            padding-bottom: 1em;
            p {
                word-wrap: break-word;
            }
        }
    }
}