<div class="comment">
    <header>
        <button (click)="toggleVisible()"><span *ngIf="!hidden">[-]</span><span *ngIf="hidden">[+]</span></button>
        <a [routerLink]="['/user/', comment?.by]">
            {{comment?.by}}
        </a>
        <p>{{comment?.time | date:'short'}}</p>
    </header>
    <main *ngIf="!hidden">
        <p [innerHTML]="comment?.text"></p>
    </main>
    <footer *ngIf="!hidden && childComments?.length > 0" [@enterLeave]>
        <hn-comment *ngFor="let comment of childComments" [comment]="comment"></hn-comment>
    </footer>
</div>
