@import '../../../assets/vars';

ul {
    list-style: none;
    padding-top: 4em;
    li {
        display: inline-block;
        font-size: 1.5em;
        font-weight: 900;
        padding: 0 1em;
        border-left: 3px solid $color-gray;
        outline: none!important;
        &:first-of-type {
            padding-left: 0;
            border: none;
        }
        &:last-of-type {
            padding-right: 0;
        }
        a {
            display: inline-block;
        }
    }
}

.active {
    a {
        color: $color-orange!important;
    }
}

@media screen and (max-width: $screen-sm) {
    ul {
        li {
            width: 100%;
            padding: 1em 0;
            border: none;
        }
    }
}