@import '../../../assets/vars';

.container {
    text-align: center;
    padding: 1.5em 10em;
    header {
        border-radius: $border-radius-small;
        box-shadow: $box-shadow;
        overflow: hidden;
        #title {
            background-color: $color-orange;
            padding: 1em;
            h1 {
                a {
                    color: white;
                }
            }
        }
        #footer {
            display: flex;
            div {
                padding: 1em;
                flex-grow: 1;
                font-weight: 900;
            }
        }
    }
    main {
        p {
            padding: 1em 0;
        }
    }
}

a {
    text-decoration: none;
    &:link {
        color: initial;
    }
    &:visited {
        color: initial;
    }
}