<div class="container" [@enter] *ngIf="story && story?.type == 'story'">
    <header>
        <div id="title">
            <h1><a href="{{story?.url}}" target="_blank">{{story?.title}}</a></h1>
        </div>
        <div id="footer">
            <div id="b1">
                <a [routerLink]="['/user/', story?.by]">
                    {{story?.by}}
                </a>
            </div>
            <div id="b2">
                <p>{{story?.time | date:'dd.MM.yyyy, HH:mm'}}</p>
            </div>
            <div id="b3">
                <p>+{{story?.score}}</p>
            </div>
        </div>
    </header>
    <main>
        <div *ngIf="comments?.length > 0" [@enter]>
            <hn-comment *ngFor="let comment of comments" [comment]="comment"></hn-comment>
        </div>
        <p *ngIf="comments?.length == 0">There are currently no comments for this story</p>
    </main>
</div>
<div class="container" [@enter] *ngIf="story && story?.type != 'story'">
    <header>
        <div id="title">
            <h1><a>Unknown story</a></h1>
        </div>
        <div id="footer">
            <div id="b1">
                <a>
                    No author
                </a>
            </div>
            <div id="b2">
                <p>Time to leave this page</p>
            </div>
            <div id="b3">
                <p>-9999</p>
            </div>
        </div>
    </header>
</div>