<div class="story"
(mouseenter)="focusElement(true)"
(mouseleave)="focusElement(false)"
[@focus]="focused ? 'focusedItem' : 'unfocusedItem'">
    <header [@focus]="focused ? 'focusedHeader' : 'unfocusedHeader'">
        <p>
            +{{story?.score}}
        </p>
    </header>
    <main>
        <h1>
            <a href="{{story?.url}}" target="_blank">{{story?.title}}</a>
        </h1>
    </main>
    <footer>
        <div id="b1">
            <a [routerLink]="['/user/', story?.by]">
                {{story?.by}}
            </a>
        </div>
        <div id="b2"><p>{{story?.time | date:'dd.MM.yyyy, HH:mm'}}</p></div>
        <div id="b3">
            <a [routerLink]="['/story/', story?.id]">
            Comments<span *ngIf="story?.descendants">({{story?.descendants}})</span>
            </a>
        </div>
    </footer>
</div>