@import '../../../assets/vars';
@import '../../../assets/mixins';

.story {
    display: inline-block;
    width: 60%;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow;
    margin: 1em 0;
    overflow: hidden;
    header {
        background-color: $color-gray-light;
        padding: 1.5em 0;
        border-top: 3px solid $color-gray;
        p {
            font-size: 2em;
            font-weight: 900;
        }
    }
    main {
        padding: 2em 4em;
        h1 {
            font-weight: 300;
        }
    }
    footer {
        display: flex;
        div {
            padding: 1em 1em;
            background-color: $color-gray;
            a, p {
                display: inline-block;
            }
        }
        #b1 {
            flex-grow: 1;
            &:hover {
                background-color: $color-gray-light;
            }
        }
        #b2 {
            flex-grow: 2;
        }
        #b3 {
            flex-grow: 1;
            &:hover {
                background-color: $color-gray-light;
            }
        }
    }
    &:hover {
        header {
            background-color: $color-orange-light;
            border-top: 3px solid $color-orange;
            p {
                color: white;
            }
        }
        transform: scale(1.1);
    }
}

a {
    text-decoration: none;
    &:link {
        color: black;
    }
    &:visited {
        color: black;
    }
}