<div class="container">
    <div>
        <header>
            <h1>Project author: Momcilo Savic</h1>
        </header>
        <main>
            <p>
                <span>Description</span>
                <br>
                This is a Front-end home project made for 
                selection process at Execom.
                <br>
                It implements
                <a href="https://news.ycombinator.com/news" target="_blank">Hacker News</a> 
                website using their API.
            </p>
            <p>
                <span>Technology</span>
                <br>
                <a href="https://angular.io/" target="_blank">Angular 10</a>
            </p>
            <p>
                <span>API Used</span>
                <br>
                <a href="https://github.com/HackerNews/API" target="_blank">HackerNewsAPI</a>
            </p>
        </main>
        <footer>
            <small>2020</small>
        </footer>
    </div>
</div>