@import '../../../assets/vars';

.container {
    div {
        text-align: center;
        box-shadow: $box-shadow;
        border-radius: $border-radius-small;
        overflow: hidden;
        header {
            padding: 1em;
            background-color: $color-orange;
            h1 {
                color: #FFF;
            }
        }
        main {
            padding: 1em 5em;
            p {
                margin: 2em 0;
                span {
                    font-weight: 900;
                    text-transform: uppercase;
                }
                a {
                    color: #000;
                    &:hover {
                        color: $color-orange;
                    }
                }
            }
        }
        footer {
            padding: 1em;
            background-color: $color-gray-light;
        }
    }
}

@media screen and (max-width: $screen-xs) {
    .container {
        div {
            header {
                h1 {
                    font-size: 1em;
                }
            }
            main {
                padding: 1em 1em;
                p {
                    font-size: 0.75em;
                }
            }
        }
        
    }
}