$color-orange: #f06200;
$color-orange-light: #ffa265;
$color-gray: #959595;
$color-gray-light: #eeeeee;

$border-radius-small: 8px;

$box-shadow: 2px 2px 4px #909090;

$font-main: 'Montserrat';

$screen-xl: 2000px;
$screen-lg: 1600px;
$screen-md: 1100px;
$screen-sm: 800px;
$screen-xs: 350px;