@import '../../../assets/vars';

.container {
    text-align: center;
    padding: 1.5em 10em;
}

.user {
    border-radius: $border-radius-small;
    box-shadow: $box-shadow;
    overflow: hidden;
    header {
        padding: 1em;
        background-color: $color-orange;
        h1 {
            color: white;
        }
    }
    main {
        padding: 1em 2em;
        p {
            padding: 0.5em 0;
        }
    }
    footer {
        display: flex;
        div {
            flex-grow: 1;
            padding: 1em;
            background-color: $color-gray-light;
            &:hover {
                background-color: $color-orange-light;
            }
        }
    }
}

.items {
    margin-top: 1.5em;
}

a {
    text-decoration: none;
    &:link {
        color: initial;
    }
    &:visited {
        color: initial;
    }
}