<div class="container" [@enter] *ngIf="user && user.id">
    <div class="user">
        <header>
            <h1>{{user?.id}}</h1>
        </header>
        <main>
            <p>Member since: {{user?.created | date: 'dd.MM.yyyy.'}}</p>
            <p>Karma: {{user?.karma}}</p>
            <p *ngIf="user?.about" [innerHTML]="user?.about"></p>
        </main>
        <footer>
            <div id="b1"><a [routerLink]="['stories']">Recent Stories</a></div>
            <div id="b2"><a [routerLink]="['comments']">Recent Comments</a></div>
        </footer>
    </div>
    <div class="items">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="container" [@enter] *ngIf="user && user.id == null">
    <div class="user">
        <header>
            <h1>John Doe</h1>
        </header>
        <main>
            <p>Member since: Never</p>
            <p>Karma: -9999</p>
            <p>I don't exist :(</p>
        </main>
        <footer>
            <div id="b1"><a>No stories</a></div>
            <div id="b2"><a>No Comments</a></div>
        </footer>
    </div>
</div>