/* You can add global styles to this file, and also import other style files */
@import 'assets/vars';
@import 'assets/mixins';

@include main;

.container {
    position: relative;
    padding: 1.5em 10em;
}

@media screen and (max-width: $screen-md) {
    .container {
        padding: 1.5em 5em;
    }
}

@media screen and (max-width: $screen-sm) {
    .container {
        padding: 1.5em 0;
    }
}